<!--app-banner></app-banner-->
<!--app-spinner-overlay [showSpinner]="loadingCategories">
  <app-carousel-category [categories]="categories"></app-carousel-category>
</app-spinner-overlay-->
<!--app-spinner-overlay [showSpinner]="loadingCategories">
  <app-list-product [products]="products" [showSeeMore]="true" (onSeeMore)="addProducts()"></app-list-product>
</app-spinner-overlay-->

<div class="section-one">

    <div class="container one">

        <div class="row section-one-row">

          <div class="col text-left col-one">
            <p class="section-one-title">Como vão os seus negócios?</p>
            <p>Compare o seu fluxo de negócio com a concorrência.</p>
            <p style="color: #319af5;">Em tempo real, diariamente e mensalmente</p>
            <button type="button" class="btn btn-entrar" (click)="loginModal.show()">COMPARE SEU FATURAMENTO</button>
          </div>
        
          <div class="col text-center img-one">
            <img src="/assets/graph.png" alt="" class="img-fluid logo">
          </div>
        </div>
        
    </div>
  
</div>

<div class="section-two">

  <div class="container two">

      <div class="row section-two-row">

        <div class="col text-center img-two">
          <img src="/assets/undraw_safe_bnk7.png" alt="" class="img-fluid logo">
        </div>

        <div class="col text-left col-two">
          <p class="section-two-title">Sua informação é totalmente sigilosa e apagada automaticamente logo após os cálculos da média geral para a comparação.</p>
          <p style="color: #319af5;">Não informamos nomes de empresas e nenhum dado direto.</p>
        </div>
        
      </div>
      
  </div>
  
</div>

<app-modal-login #loginModal></app-modal-login>