form {
  color: #757575;
}

.remember {
  min-width: 160px;
}

.input-login {
  height: calc(2.4em + 0.75rem + 2px);
  background-color: #F0F0F0;
  border-radius: 0.1rem;
}

.login-label {
  float: left;
}

.login-button{
  background-color: #2E6777 !important;
  text-transform: capitalize;
  padding: inherit;
  color:#fff;
  font-size: 1rem;
  width: 187px;
  height: 42px;
  border-radius: 0.1rem;
  margin-top: 2.2rem !important;
  margin-bottom: 2rem !important;
}

.login-esqueceu {
  /* float: right; */
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 40px;
  display: contents;
  width: 100%;
  align-items: center;
}