.login-cadastre-link {
    color: #319af5!important;
    font-weight: 600;
}

.recuperar-btn{
    background-color: #319af5 !important;
    color: #fff;
    font-size: 1rem;
    width: 80%;
    border-radius: 0.3rem;
}

.login-label {
    float: left;
}

.input-login {
    height: calc(2.8em + 0.75rem + 2px);
}

.recuperar-input{
    display: block;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: white;
}