<div class="w-100 footer">
  <div class="container text-center text-sm-left">
    <div class="row pt-4">
      <div class="col text-center">
        <img src="/assets/logo_branca.png" alt="" class="img-fluid logo">
      </div>
    </div>
    <div class="row pt-3 align-items-center">
      <div class="col-12 col-sm-4 order-2 order-sm-0 mt-2 mt-sm-0">
        <div class="d-flex">
          <div class="text-center text-sm-right align-items-center d-sm-flex d-none px-2"><fa name="map-marker-alt" style="color:white" class="text-center"></fa></div>
          <div class="align-items-center d-flex">
            <p class="m-2 ml-1 mr-2 w-100 tamanho-fonte-itens">
              {{contact.contato_endereco}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 order-0 order-sm-1 mt-2 mt-sm-0">
        <div class="d-flex">
          <div class="mx-auto d-flex">
            <div class="text-center text-sm-right align-items-center d-sm-flex d-none px-2"><fa name="user" style="color:white" class="text-center"></fa></div>
            <div class="align-items-center mt-2">
              <p class="ml-1 mr-2 mb-0 w-100 tamanho-fonte-itens">
                FONE: {{contact.contato_telefone}}
              </p>
              <p class="ml-1 mr-2 w-100 tamanho-fonte-itens">
                {{contact.contato_email}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 order-1 order-sm-2 mt-2 mt-sm-0">
        <div class="d-flex">
          <div class="text-center text-sm-right align-items-center d-sm-flex d-none px-2"><fa name="clock" style="color:white" class=""></fa></div>
          <div class="align-items-center d-flex tamanho-fonte-itens">
            <p class="m-2 ml-1 mr-2 w-100">
              {{contact.contato_horario}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-4 pb-3">
      <div class="col text-center">
        <p class="tamanho-fonte-direitos">SSG SAÚDE © 2015 | Todos os direitos reservados</p>
        <p class="tamanho-fonte-direitos">Desenvolvido por TIMO GF | Soluções Web e Mobile</p>
      </div>
    </div>
  </div>
</div>
