<div #basicModal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <app-spinner-overlay [showSpinner]="loading">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mx-auto login d-flex">
                        <div class="text-center justify-content-center align-self-center mx-auto"
                             *ngIf="tab === 'login'">
                            <h5 class="pb-3 pb-md-5 title">ÁREA DO PACIENTE</h5>
                            <p class="text-muted pb-3 pb-md-5">Para ter acesso à área do paciente, informe seu e-mail e
                                senha </p>

                            <app-form-login (loading)="loadingShow($event)" (logged)="logged()" (forgot)="tab = 'forgot'"></app-form-login>
                            <p>
                                Não possui acesso? <a (click)="signUp()">Cadastre-se aqui</a>.
                            </p>
                        </div>
                        <div class="text-center justify-content-center align-self-center mx-auto"
                             *ngIf="tab === 'forgot'">
                            <h5 class="pb-3 pb-md-5 font-weight-bolder">Esqueceu a senha?</h5>
                            <p class="text-muted pb-3 pb-md-5">Preencha o campo abaixo com o seu e-mail e nós enviaremos
                                um link para a redefinição de sua senha. </p>

                            <app-form-forgot (send)="tab = 'login'" (loading)="loadingShow($event)"></app-form-forgot>
                        </div>
                    </div>
                </div>
            </div>
            </app-spinner-overlay>
        </div>

</div>

