.contact-title {
  color: #015B9C;
  font-family: "Arial Rounded MT Bold";
  font-size: 45px;
  letter-spacing: 3.75px;
  line-height: 52px;
  text-align: center;
  height: 75px;
  width: 644px;
  background-color: #E9E9E9;

}

ul {
  list-style-type: none;
  li {
    margin-top: 50px;
    color: #737373;
    font-family: "Arial Rounded MT Bold";
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 21px;
    text-align: left;
  }
}